// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// city pulse colors
$cp-black: #FFFFFf;
$cp-blue: #6F8AB7 ;
$cp-white: #E7E7E7;
$cp-pink: #FE6D73;

$cp-pink-gradient: linear-gradient(207.67deg, #FDAE8F 3.43%, #FD1C68 104.7%);
$cp-blue-gradient: linear-gradient(207.67deg, #6F8AB7 3.43%, #284a85 104.7%);
