
.bg-body-index {
    background: $cp-black;
    // pour que le bg reste de la même couleur si recherche sans résultats
    padding-bottom: 75vh;
 }

.container-index-pulses {
  padding: 5vh;
}

.pulse-content {
  color: whitesmoke;
  border: 2px solid;
  border-color: whitesmoke;
  border-radius: 4px;
  /* vertical | horizontal */
  margin: 5vh 0;
  padding: 2vh;
  position: relative;
}

#user-picto {
  position: absolute;
  top: -10px;
  // top: 0;
  // transform: translateY(-50%);
  left: 0;
  transform: translateX(-50%);
  font-size: 50px;
  color: $cp-blue;
  background-color: whitesmoke;
  border-radius: 50%;

}

.profile-pic {
  position: absolute;
  top: -10px;
  left: 0;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}




.pulse-delete {
  position: absolute;
  top: 2vh;
  right: 3vh;
}


.pulse-nickname-and-categories {
  display: flex;
  justify-content: space-between;
  padding-right: 8vh;

}

.pulse-user-nickname {
  padding-left: 10%;
  background: $cp-pink-gradient;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}

.pulse-date {
  font-size: 10px;
  font-style: italic;
}

.pulse-content-right {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -10px;
  right: 0;
  transform: translateX(25%);
  #pulse-count {
    padding-right: 2vh;
  }
}

.pulse-like-red {

  i {
    font-size: 30px;
    padding: 2vh;
    color: whitesmoke;
    border-radius: 50%;
    background: $cp-pink-gradient;

  }
}

.pulse-like-blue {

  i {
    font-size: 30px;
    padding: 2vh;
    color: whitesmoke;
    background: $cp-blue-gradient;
    border-radius: 50%;

  }
}

.pulse-like-gray {

    font-size: 30px;
    padding: 2vh;
    color: whitesmoke;
    background-color: gray;
    border-radius: 50%;
}
