.bg-index-gray {
  background-color: lightgray;

}

.container-index-pulses {
  margin-bottom: 8vh;
  padding: 5vh;
}

.pulse-content {
  border: solid;
  /* vertical | horizontal */
  margin: 3vh 0;
  padding: 2vh;
  background-color: whitesmoke;
  border-radius: 8px;
  position: relative;
}

#user-picto {
  position: absolute;
  top: -15px;
  // top: 0;
  // transform: translateY(-50%);
  left: 0;
  transform: translateX(-50%);
  font-size: 50px;
  color: blue;
  background-color: whitesmoke;
  border-radius: 50%;

}

.pulse-user-nickname {
  padding-left: 10%;
}

.pulse-date {
  font-size: 10px;
  font-style: italic;
}


.pulse-content-right {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -15px;
  right: 0;
  transform: translateX(25%);
  #pulse-count {
    padding-right: 2vh;
  }
}

.pulse-like-red {

  i {
    font-size: 30px;
    padding: 2vh;
    color: whitesmoke;
    background-color: red;
    border-radius: 50%;

  }
}

.pulse-like-blue {

  i {
    font-size: 30px;
    padding: 2vh;
    color: whitesmoke;
    background-color: blue;
    border-radius: 50%;

  }
}

.pulse-like-gray {

    font-size: 30px;
    padding: 2vh;
    color: whitesmoke;
    background-color: gray;
    border-radius: 50%;
}
