.container-infos {
  background-color: $cp-black;
  color: whitesmoke;
  padding-top: 5vh;
  padding-bottom: 10vh;

}


.container-infos-title {
  display: flex;
  flex-direction: column;
  padding: 3vh;

  h1 {
    margin: 0 auto;
  }

  p {
    margin: 0 auto;
  }
}


.container-infos-content {
  margin-bottom: 8vh;
}

.infos-content-items {
  padding-bottom: 2vh;
  border-bottom: solid 2px;

  h2 {
    padding: 2vh;
    background: $cp-pink-gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;  }

  p {
    padding: 0 2vh ;
  }

}

.image {

  #hooked {
    width: 80%;
    margin: 5vh 3vh;
    opacity: 0.7;
  }

  #discuss {
    width: 80%;
    margin: 5vh 3vh;

  }

}
