// ------------------ BANNER ----------------

.banner {
  background-size: cover;
  background-position: center;
  height: 25vh;
  display: flex;
}

.banner h1 {
  margin: 0;
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
}

.container-banner-lille{
  align-self: flex-end;
}

.credit {
  font-size: 8px;
  display: flex;
  justify-content: center;
  background: $cp-black;
  color: whitesmoke;
  p {
    opacity: 0.7;
  }
}

// -------------- TOP CATEGORIES -------------

.lille-city-bg-black {
  padding: 3vh 0;
  background: $cp-black;
  color: whitesmoke;

  h2 {
    display: flex;
    justify-content: center;
    font-size: 20px;
    // background: $cp-pink-gradient;
    // -webkit-background-clip: text;
    // background-clip: text;
    // -webkit-text-fill-color: transparent;
    // color: transparent;

    margin-bottom: 3vh;
  }

}


.container-categories h2 {
    background: $cp-pink-gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px #00000000;

}



.top-categories {
  display: flex;
  border-bottom: 2px solid;
  border-color: whitesmoke;
}

.top-category {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  p {
    padding: 1vh;
  }
}

// ------------------ SONDAGE ----------------

.container-sondage {
  margin-top: 5vh;
  padding: 3vh;

}

.sondages {
  border-bottom: 2px solid;
  border-color: whitesmoke;
  h2 {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  }
}

.sondage-content {
  margin-bottom: 3vh;
  padding: 2vh;
  h3 {
    font-size: 20px;
  }
}


// -------------- TOP 3 PULSES ------------


.container-top-pulses {
  margin-top: 5vh;
  padding: 3vh;
  h2 {
    background-image: linear-gradient(60deg, #E21143, #FFB03A);
    background-clip: text;
    color: transparent;
  }
}

.top-pulses {
  border-bottom: 2px solid;
  border-color: whitesmoke;
}


// -------------- AUTRES ------------

.container-autres {
  margin-bottom: 25vh;
}
