.container-log {
  background: $cp-black;
  color: whitesmoke;
  padding-top: 5vh;
  padding-bottom: 30vh;
}

.btn-sign {
  background: $cp-pink-gradient;
  color: whitesmoke;
  border-radius: 10px;
  margin-top: 2vh;
  margin-bottom: 5vh;
  padding: 1vh 3vh;

}

.container-sign {
  background: $cp-black;
  color: whitesmoke;
  padding-top: 5vh;
  padding-bottom: 15vh;
}
