.bg-body-profile {
  background: $cp-black;
  // pour que la page soit noire jusqu'en bas si jamais pulse donc pas de top 3
  // A changer plus tard
  padding-bottom: 25vh;
}

.container-profile {
  padding-left: 3vh;
  padding-right: 3vh;
  padding-top: 5vh;
}

.avatar-profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.add-pic-bio {
  color: whitesmoke;
  padding-top: 5vh;
  p {
    cursor: pointer;
  }
}

.pulses-profile {
  color: whitesmoke;
  border: 2px solid;
  border-color: whitesmoke;
  border-radius: 4px;
  /* vertical | horizontal */
  margin: 5vh 0;
  padding: 2vh;
  position: relative;
}

.btn-logout {
  background: $cp-pink-gradient;
  color: whitesmoke;
  border-radius: 10px;
  margin-top: 2vh;
  margin-bottom: 5vh;
  padding: 1vh 3vh;

}

.bio {
  color: whitesmoke;
  padding-bottom: 5vh;

  h3 {
    background: $cp-pink-gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
}

.pulses-top {

  h3 {
    background: $cp-pink-gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
}
