.bg-body-profile {
  background: $cp-black;
  padding-bottom: 15vh;
}

.container-profile {
  padding-left: 3vh;
  padding-right: 3vh;
  padding-top: 5vh;
}

.avatar-profile {
  max-width: 100px;
  border-radius: 50%;
}

.pulses-profile {
  color: whitesmoke;
  border: 2px solid;
  border-color: whitesmoke;
  border-radius: 4px;
  /* vertical | horizontal */
  margin: 5vh 0;
  padding: 2vh;
  position: relative;
}
