<div class="form-new">
  <%= simple_form_for(@pulse) do |f| %>
    <%= f.input :pulse_content %>

    <%# --------ajouter les catégories--------- %>
    <%#= f.input :qqch %>

    <%# -------- changer le bouton --------- %>
    <%= f.submit class: "btn btn-success" %>
  <% end %>
</div>
