<div class="form-new">
  <%= simple_form_for(@pulse) do |f| %>
    <%= f.input :pulse_content %>
    <%= f.association :categories, include_hidden: false, required: true %>

    <%# -------- changer le bouton --------- %>
    <%= f.submit class: "btn btn-success" %>
  <% end %>
</div>
