<div class="top-navbar">
  <div class="container container-top-navbar">


  <%# ------------ profile pic -----------------%>
  <%= link_to "#", class: "navbar-brand" do %>
    <i class="fas fa-user-circle"></i>
  <% end %>

  <%# ------------ city pulse ------------------%>
  <div>
    <h1>City Pulse</h1>
  </div>

  <%# --------- filter new/popular  -------------%>
    <%= link_to "#", class: "navbar-brand" do %>
      <i class="fas fa-sort-amount-down"></i>
    <% end %>
  </div>
</div>
