<%# <div class="container container-infos-title">
  <h1>Le principe de City Pulse</h1>
  <p>Principales informations et fonctionnalités à venir</p>
</div> %>

<div class="container-infos-content">
  <div class="infos-content-items">
    <h2>Le principe</h2>
    <p>City Pulse vous permet de proposer vos idées pour la ville, et de voter pour les idées qui vous plaisent.</p>
    <p>L'idée est donc de faire remonter les idées les plus populaires à la mairie, et d'établir un dialogue entre les citoyens et la mairie.</p>
  </div>

  <div class="infos-content-items">
    <h2>Les règles</h2>
    <p>Ne pas publier de messages inappropriés. <br>
    Nous nous réservons le droit de supprimer des idées si tel était le cas <br>
    Et si un tel message échappe à la vigilance de nos modérateurs, ne pas voter pour.</p>
  </div>

  <div class="infos-content-items">
    <h2>Phase de test</h2>
    <p>City Pulse est actuellement en phase de test afin de recueillir les premiers retours utilisateurs.</p>
    <p>Ainsi, nous pensons faire évoluer le site avec, dans un premier temps :
      <ul>
        <li>Une barre de recherche par mot clé et un système de filtre récent/populaire</li>
        <li>Une page profil utilisateur améliorée et modifiable (photo, infos, etc)</li>
        <li>Donner un accès à la mairie afin qu'ils puissent vous poser des questions, sondages, etc</li>
        <li>Des notifications</li>
        <li>Un design global plus poussé</li>
      </ul>
    </p>
  </div>

  <div class="infos-content-items">
    <h2>Les données</h2>
    <p> Nous ne conservons aucune adresse mail, mot de passe ou autre durant cette phase de test.
    Egalement, nous fonctionnons sans cookies ni publicité.</p>
    <p> Après un mois, les idées publiées n'ayant pas rencontré de succès seront supprimées.</p>
  </div>

  <div class="infos-content-items">
    <h2>L'équipe</h2>
    <p>Nous sommes 4 lillois ayant envie de proposer une solution simple pour s'engager localement. <br>
    Nous ne sommes en aucun cas affiliés à la mairie de Lille, ni a aucune formation politique.</p>
  </div>

  <div class="infos-content-items">
    <h2>Contact</h2>
    <p> Si vous souhaitez nous faire part de vos retours ou participer au projet, n'hésitez pas à nous envoyer un mail : <br>
    city-pulse@gmail.com</p>
  </div>
</div>
