<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1624524329368-f23ee664b618?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80);">
  <div class="container container-banner-lille">
    <h1>Lille</h1>
    <p>Communiquer avec sa ville !</p>
  </div>
</div>

<div class="credit">
  <p>Crédit photo : Unsplash / Geoffroy Hauwen Photographer www.geoffroy-hauwen.com</p>
</div>

<div class="lille-city-bg-black">
  <div class="container container-categories">
    <h2>Thématiques les plus populaires</h2>
    <%# ajouter le nb de pulse par category? %>
    <div class="top-categories">
      <% top = @categories.sort_by { |category| category.pulses.count } %>
      <% top.reverse.first(3).each do |category| %>
        <div class="top-category">
          <p> <%= category.name %> </p>
          <p> <%= sanitize category.picto %> </p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container container-sondage">
    <div class="sondages">
      <h2>Sondages</h2>
      <div class="sondage-content border">
        <h3>Souhaiteriez-vous que ?</h3>
        <p>Afin de faire ceci cela</p>
      </div>

      <div class="sondage-content border">
        <h3>Parmi ces trois projets retenus, lequel préférez vous ?</h3>
        <p>Afin de faire ceci cela</p>
      </div>
    </div>
  </div>

  <div class=" container container-top-pulses">
    <h2> Pulses les plus populaires </h2>
    <div class="top-pulses pb-5">

    <%# reprendre les cards de l'index une fois finalisées %>
      <% top = @pulses.sort_by { |pulse| pulse.favorites.count } %>
      <% top.reverse.first(3).each do |pulse| %>
        <h3> <%= pulse.user.nickname %> </h3>
        <p> <%= pulse.pulse_content %> </p>
      <% end %>
    </div>
  </div>
</div>
