<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1624524329368-f23ee664b618?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80);">
  <div class="container container-banner-lille">
    <h1>Lille</h1>
    <p>Communiquer avec sa ville !</p>
  </div>
</div>

<div class="credit">
  <p>Crédit photo : Unsplash / Geoffroy Hauwen Photographer www.geoffroy-hauwen.com</p>
</div>
