<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1624524329368-f23ee664b618?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80);">
  <div class="container container-banner-lille">
    <h1>Lille</h1>
    <p>Communiquer avec sa ville !</p>
  </div>
</div>

<div class="credit">
  <p>Crédit photo : Unsplash / Geoffroy Hauwen Photographer www.geoffroy-hauwen.com</p>
</div>

<div class="lille-city-bg-black">
  <div class="container">
    <div class="container-categories">
      <h2>Thématiques les plus populaires</h2>
      <%# ajouter le nb de pulse par category? %>
      <div class="top-categories">
        <% top = @categories.sort_by { |category| category.pulses.count } %>
        <% top.reverse.first(3).each do |category| %>
          <div class="top-category">
            <p> <%= category.name %> </p>
            <p> <%= sanitize category.picto %> </p>
          </div>
        <% end %>
      </div>
    </div>

    <%# changer le nom des classes et le css %>
    <div class="container-categories d-flex justify-content-center">
      <div class="top-categories pt-5">
        <h2>Il y a déjà <%= @users.count %> utilisateurs à Lille !</h2>
      </div>
    </div>

    <div class="container-top-pulses">
      <h2> Pulses les plus populaires </h2>
      <div class="top-pulses pb-3">

        <% top = @pulses.sort_by { |pulse| pulse.favorites.count } %>
        <% top.reverse.first(3).each do |pulse| %>
        <%# ------------------ la partial est ici !! ----------------- %>
          <%= render "pulses/pulse", pulse: pulse %>
        <% end %>
      </div>
    </div>

    <div class="container-sondage">
      <div class="sondages pb-3">
        <h2>Sondages</h2>
        <div class="sondage-content border">
          <h3>Souhaiteriez-vous que la ville puisse vous proposer des sondages ?</h3>
          <div class="d-flex">
            <button class="btn-sign w-100 me-2">oui</button>
            <button class="btn-sign w-100 ms-2">non</button>
          </div>
        </div>

        <div class="sondage-content border">
          <h3>Parmi ces trois projets retenus, lequel préférez vous ?</h3>
          <div class="d-flex">
            <button class="btn-sign w-100 me-2">Celui-ci</button>
            <button class="btn-sign w-100 ms-2">Celui-là</button>
            <button class="btn-sign w-100 ms-2">Un autre</button>

          </div>
        </div>
      </div>
    </div>

    <div class="container-projets-realises">
      <div class="projets-realises py-5">
        <h2>Projets réalisés</h2>
        <div class="projet-content pb-5">
          <h3>Les projets réalisés grâce à City Pulse</h3>
          <p>Voici la liste</p>
        </div>
      </div>
    </div>


  </div>
</div>
