<h1>Pages#profile</h1>
<p> - Cloudinary
    - Infos du profil (bio / récap infos / thème favoris)
    - Autre page pour modification des datas + bio
    - Ajouter les cards faites sur index -> les 3 meilleurs pulses + 3 categories prefs</p>
<%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>




<p>form profile pic</p>

    <%#= simple_form_for @user, method: :patch do |f| %>
        <%#= f.input :photo, as: :file %>
        <%#= f.button :submit, "Sign up", class:"btn-sign" %>
    <%# end %>

 <%# user PATCH  /users/:id(.:format)           users#update %>
 <%# <%= simple_form_for @photographer, :url => savenew_photographers_path, :method => :post ... # etc %>




<p>image cloudi ci dessous</p>
<%= cl_image_tag current_user.photo.key, height: 300, width: 400, crop: :fill %>
