<h1>Pages#profile</h1>
<p> - Cloudinary
    - Infos du profil (bio / récap infos / thème favoris)
    - Autre page pour modification des datas + bio
    - Ajouter les cards faites sur index -> les 3 meilleurs pulses + 3 categories prefs</p>
<%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
<%= console %>

<%= cl_image_tag current_user.photo.key, height: 300, width: 400, crop: :fill %>
