<div class="bg-body-profile">
  <div class="container">
    <div class="container-profile">
      <div class='d-flex align-items-center'>

        <% unless current_user.photo.key.nil? %>
          <div>
            <%=cl_image_tag current_user.photo.key, class: 'avatar-profile mx-3'%>
          </div>
        <% end %>
        <div class='text-white'><h1> Bienvenue sur City Pulse <%= current_user.nickname %> ! </h1></div>
      </div>




        <div class="pulses-top">
          <h3 class='text-white'> Tes meilleurs Pulses :</h3>
          <% unless current_user.pulses.nil? %>
            <% if current_user.pulses.length == 1 %>
              <% limit = 1 %>
            <% elsif current_user.pulses.length == 2 %>
              <% limit = 2 %>
            <% else %>
              <% limit = 3 %>
            <% end %>
            <% top2 = current_user.pulses.limit(limit).sort_by { |pulse| pulse.favorites.count } %>
            <% top2.reverse.each do |pulse| %>
              <%# ------------------ la partial est ici !! ----------------- %>
              <%= render "pulses/pulse", pulse: pulse %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="d-grid">
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"btn-logout" %>
        <%#= link_to 'Modifier mon profil', edit_user_path(current_user)%>
      </div>
    </div>
  </div>
</div>
