<%# partial qui se refresh quand on like / unlike %>


        <div data-controller="like">
          <div data-like-target="divtochange">
            <div id="div-<%= pulse.id %>" class="pulse-content-right" >
              <h2 id="pulse-count"><%= pulse.favorites.count %></h2>



              <% if pulse.liked?(current_user)%>
                <%# pour unliker : coeur rouge vers bleu %>

                <%= link_to favorite_path(pulse.favorites.find_by(user_id: current_user).id), data: {action: "click->like#unfav", like_target: "btnunfav" }, class:"pulse-like-red" do %>
                  <i class="fas fa-heart"></i>
                <% end %>


                <%# , method: :delete %>
                <%# retirer le method delete quand plus de pb js %>



              <% else %>
                <%# pour liker lorsque ce n'était pas le cas : coeur bleu vers rouge %>
                <%= link_to pulse_favorites_path(pulse), data: {action: "click->like#fav", like_target: "btnfav" }, class:"pulse-like-blue" do %>
                  <i class="fas fa-heart"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
