<div class="bg-index-gray">
  <div class="container container-index-pulses">
    <% @pulses.reverse.each do |pulse| %>
      <div class="pulse-content">

        <div class="pulse-content-left">
          <i class="fas fa-user-circle" id="user-picto"></i>
          <h2 class="pulse-user-nickname"><%= pulse.user.nickname %></h2>
          <p><%= pulse.pulse_content %></p>
          <p class="pulse-date"><%= pulse.created_at.strftime("Pulsé le %d/%m/%Y")  %></p>
        </div>

        <%# # ------ div (partial) qui se refresh quand on like ------ %>
        <%= render "pulse_content_right", pulse: pulse %>

      </div>
    <% end %>
  </div>
</div>
