
<div class="container">
  <% @pulses.each do |pulse| %>
    <div class="border bg-light p-3 m-3">
      <h1><%= pulse.user.nickname %></h1>
      <p><%= pulse.pulse_content %></p>
    </div>
  <% end %>
</div>
