<div class="banner-index" data-controller="bannerindex" data-bannerindex-target="bannerdiv">
  <div class="container p-3 d-flex justify-content-center">
    <h2> Retrouvez toutes les idées proposées pour la ville de Lille !</h2>
    <div class="cross" data-bannerindex-target="cross" data-action="click->bannerindex#hide">
        <i  class="fas fa-times"></i>
    </div>
  </div>
</div>

<div class="bg-body-index">
  <div class="container container-index-pulses">
    <% @pulses.reverse.each do |pulse| %>
        <%# ------------------ la partial est ici !! ----------------- %>
        <%= render "pulse", pulse: pulse %>
    <% end %>
  </div>
</div>

  <% unless user_signed_in? %>
    <%= flash.now[:notice] = link_to "Se connecter pour voter ou pulser!", new_user_session_path%>
  <% end %>
