.down-navbar {
  background: black;
  width: 100%;
  padding: 2vh;
  position: fixed;
  bottom: 0;
}

.container-down-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  i {
    color: whitesmoke;
    text-decoration: none !important;
    font-size: 4vh;
  }
}

.down-navbar .down-navbar-pulse img {
  width: 40px;
}
