.down-navbar {
  background: black;
  width: 100%;
  padding: 2vh;
  position: fixed;
  bottom: 0;
}

.container-down-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  i {
    color: whitesmoke;
    text-decoration: none !important;
    font-size: 4vh;
  }
}

.down-navbar-pulse {
  position: absolute;
  // pour que ce soit au dessus
  z-index: 1;
  // pour que ça soit au milieu (sauf que c'est le bord de l'image qui sera au milieu)
  left: 50%;
  // pour que le centre de l'image soit au milieu
  transform: translateX(-50%);
  bottom: 0;

  i {
    padding: 2vh 3vh;
    font-size: 50px;
    // background-color: red;
    background: $cp-pink-gradient;
    border-radius: 50%;
  }
}

#search-icon {
  cursor: pointer;
}
